*
{
	margin: 0;
	padding: 0;
	font-family: gill sans;

}
img
{
	margin-top: 80px;
	height:300px;
	width: 300px;
	border-radius: 50%;
	
}
body
{
	background-color: grey;

}
ul li a
{
	text-decoration: none;
	color: #fff;
	padding: 10px 40px;
	border: 1px solid #fff;
	transition: 0.4s ease;
}
ul li
{
	display: inline-block;
	margin-top: 100px;
	
}
ul li a:hover
{
	background-color: white;
	color: grey;
}
h1
{
	color: lightgrey;
	font-size: 90px;
	margin-top: 50px;
}
.circle
{
	margin-top: -320px;
	width: 330px;
	height: 330px;
	background-color: lightgrey;
	border-radius: 50%;
}
