@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
*
{
	margin: 0;
	padding: 0;
	color: white;
}
img
{
	margin-top: 80px;
	height:300px;
	width: 300px;
	border-radius: 50%;
	
}
body
{
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(new_bg.jpg);
	background-color: white;

}

ul li a
{
	font-family: Helvetica;
	text-decoration: none;
	color: #fff;
	letter-spacing: 3px;
	padding: 10px 40px;
	border: 1px solid #fff;
	transition: 0.3s ease;
	box-shadow: inset 0 -2px #fff;
}
ul li
{
	display: inline-block;
	margin-top: 100px;
	
}
ul li a:hover
{
	box-shadow: inset 0 -50px #fff;
	color: grey;
}
h1
{

	font-family: 'Didact Gothic', sans-serif;
	letter-spacing: 1px;
	color: wheat;
	font-size: 90px;
	margin-top: 50px;
	text-align: center;
}
.circle
{
	margin-top: -320px;
	width: 330px;
	height: 330px;
	background-color: lightgrey;
	border-radius: 50%;
}
.arial{
	box-sizing: border-box;
	text-align: center;
	font-family: Helvetica;
	letter-spacing: 1px;
	background: rgba(83, 82, 82, 0.171);
	width: fit-content;
	align-items: center;
	justify-content: center;
	margin: auto;
}
@media only screen and (max-width: 480px) {
  h1 {
	font-size: 12vw;
  }
 
  ul{
	  align-self: center;
	  display: flex;
	  float: left;
	  text-align: center;
	  align-items: center;
	  font-size: 1.3em;
	  margin-left: 1vw;
	  padding: 1vw;
	align-content: center;
  }

}